<% provide(:title, 'New Game') %>
<h1>New Game</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @gama, :url => {:action => "create"} do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.submit "Create Game", class: "btn btn-primary" %>
      <%= debug(params) %>
    <% end %>
    <%= link_to 'Back', gamas_path %>
  </div>
</div>
