<% provide(:title, @gama.name) %>

<p>
	<% if game_pending?(@gama) %>
  <strong>Game <%= @gama.name %> is Pending. Would you like to
  	<%= link_to 'join?', '#' %></strong> 
  	<% else %>

  		<% if game_done?(@gama) %>
	  		<strong>Game <%= @gama.name %> is Over.</strong> 
	  	<% else %>
	  		<strong> Game <%= @gama.name %> is on-going.</strong>
  		<% end %>
  	<% end %>

  	
</p>

<p>
	<% if(is_current_user_host?(@gama)) %>
	<h1> Press below to start the game </h1>
	<%= button_to 'Start Game', :controller => "gamas", :action => "start", :gama => @gama.id %>
	
	<% end %>


	
</p>


<%= link_to 'Leave', gamas_path(:leave => 1) %> |
<%= link_to 'Back', gamas_path %>
