<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    
    <!-- SEO RELATED META TAGS -->
    <meta name="revisit" content="2 days">
    <meta name="robots" content="all, index, follow">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta content="english" name="language">
    <meta content="public" http-equiv="cache-control">
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="cnt-box">
      <div id="cnt-top">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
      
      <div id="cnt-filler">
	<%= yield %>
      </div>
      <div id="cnt-btm"></div>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
